[Unit]
Description=GPD Win 1 hardware volume buttons
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/libexec/win1-volume-keys
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
